*{
    margin: 0;
    padding: 0;
}
    .cabecalho{
        background-color: hsl(61, 28%, 58%);
    color:black;
    display: flex;    
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 40px;
}
.cabecalho-imagem{
    width: 20%;
}
.body{
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
            
}
.lista-itens-elementos{
display: inline-block;
margin: 0 16px;
}
.programacao{
    text-size-adjust: 0 10px;
}


