*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: "Poppins", sans-serif;
}

.cabecalho{
    background-color: #F0FAB6;
color:black;
display:flex; 
justify-content: space-around; 
align-items: center;
padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display:inline-block;
    margin: 0 50px;
    font-size: 36px;
}

.escola-imagem{
    width: 25%;
 }

.escola{
    background-image: linear-gradient(#F0FAB6,#8E946C);
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    text-align: center;
    padding: 24px 0;
}
.estudante-titulo{
    text-align: center:
    padding: 10px 0;
}

.estudante-imagem{
    width: 120px;
}
    
 
    
 
 
 
