*{
    margin: 2;
    padding: 0;
}

    .cabecalho-lista-itens{
        background-color: hsl(61, 28%, 58%);
    color: white;
    display: flex;    
    justify-content: space-around;
    }
    align-content: center;
    padding: 24px 10:
}
.imagem-cabecalho{
    width: 25%;












    .cabecalho-lista-itens{
display: inline-block;
margin: 0 16px;
font-sizer: 24px
    }
